.sidebar{
    position: sticky;
    top: 80px;
    flex: 0.2;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    height: fit-content;

    
}

.sidebar-avatar{
    margin-bottom: 10px;

}

.sidebar-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-bottom: 10px;
    /* width:20%; */
}

.sidebar-top > img{
    margin-bottom: -20px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height:70px;
}

.sidebar-stat{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
   
}

.sidebar-stat > p{
    color: gray;
    font-size: 13px;
    font-weight: 600;
    
}

.sidebar-stats{
    padding: 10px;
    margin-bottom: 10px;
    
    border:1px solid lightgray;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    
   
}

.sidebar-statNo{
    font-weight: bold;
    color: #0a66c2 !important;
}

.sidebar >h2{
    font-size: 18px;
}

.sidebar-bottom{
    text-align: center;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: whiite;
    margin-top: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.sidebar-recentItem{
    display: flex;
    font-size: 13px;
    color: grey;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar-recentItem:hover{
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}